body {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#sea-level {
    width: 600px;
}

@media screen and (min-width: 1000px) {
    main {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: row-reverse;
        /* flex-wrap: wrap; */
    }
    #sea-level {
        width: 300px;
    }
    h2 {
        margin-top: 0em;
    }
}

#map-section {
    margin-right: 20px;
}

/* .checkboxes {
    text-align: left;
} */
